.emergency-vehicle {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding: 40px 20px;
}

.emergency-heading {
    text-align: center;
    width: 90%;
    font-size: 42px;
    font-weight: 600;
    line-height: 1.2;
    background: linear-gradient(270deg, #DF8908 10%, #b415b4 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.emergency-description {
    text-align: center;
    width: 81%;
    font-size: 18px;
    color: #AAAAAA;
    font-weight: 400;
    line-height: 1.7;
}

.emergency-upload {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 8px;
}

.emergency-upload input[type="file"] {
    color: #d4d4d4;
    border: 1px solid #2a2a2a;
    background: #1f1f1f;
    padding: 10px;
    border-radius: 50px;
    cursor: pointer;
}

.emergency-upload input[type="file"]::file-selector-button {
    padding: 8px 14px;
    margin-right: 12px;
    border: 1px solid #2a2a2a;
    background: #2b2b2b;
    color: #e5e5e5;
    border-radius: 25px;
    cursor: pointer;
    transition: transform 0.2s ease, border-color 0.3s ease;
}

.emergency-upload input[type="file"]::file-selector-button:hover {
    transform: scale(1.03);
    background:
        linear-gradient(#2b2b2b, #2b2b2b) padding-box,
        linear-gradient(270deg, #DF8908 10%, #b415b4 100%) border-box;
    border: 1px solid transparent;
    border-radius: 25px;
}

.emergency-upload .upload-btn {
    display: inline-block;
    padding: 12px 22px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 50px;
    transition: all 0.4s ease;
    cursor: pointer;
    background-color: #161515;
}

.emergency-upload .upload-btn:hover {
    transform: scale(1.03);
    background:
        linear-gradient(#2b2b2b, #2b2b2b) padding-box,
        linear-gradient(270deg, #DF8908 10%, #b415b4 100%) border-box;
    border: 1px solid transparent;
    border-radius: 25px;
}

.emergency-result {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.emergency-result video {
    width: 720px;
    max-width: 95%;
    border-radius: 12px;
    border: 1px solid #2a2a2a;
    box-shadow: 0 0 20px rgba(185, 35, 225, 0.1);
}

.emergency-image {
    width: 400px;
    margin-top: -20px;
    border-radius: 50px;
}