.Home{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}
.home-image{
    width: 275px;
    margin-top: 50px;
}
.home-title{
    text-align: center;
    width: 70%;
    font-size: 45px;
    font-weight: 600;
    background: linear-gradient(270deg, #DF8908 10%, #b415b4 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.home-subtitle{
    text-align: center;
    width: 60%;
    font-size: 22px;
    color: #CCCCCC;
    font-weight: 500;
}
.home-description{
    text-align: center;
    width: 90%;
    font-size: 18px;
    color: #AAAAAA;
    font-weight: 400;
    line-height: 1.6;}