.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 15px;
}
.footer hr {
    width: 90%;
    border: none;
    border-top: 1px solid #d4d4d4;
    margin: 20px auto;
}
.footer-detail {
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 100%; 
}
.footer-detail-info {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    color: #d4d4d4;
}
.footer-detail-info a {
    color: inherit;
    text-decoration: none;
    transition: color 0.3s ease;
}
.footer-detail-info a:hover {
    color: #B415FF;
}
.footer-bottom {
  display: flex;
  justify-content: center;
  padding: 12px 0;
}
.footer-bottom-ts,
.footer-bottom-pp {
  display: flex;
}
.footer-bottom-connect {
  display: flex;
  align-items: center;
  gap: 50px;         
  flex-wrap: nowrap; 
}
.footer-cta {
  display: inline-block;
  padding: 15px 30px;
  font-size: 12px;
  font-weight: 200;
  color: white;
  text-decoration: none;
  border: 2px solid white;
  border-radius: 50px;
  transition: all 0.4s ease;
  cursor: pointer;
}
.footer-cta:hover {
  color: white;
  border-color: #B415FF;
  transform: scale(1.1);
}